.rc-dyntabs-tablist {
    background-color: #333333;
}

.rc-dyntabs-tab>.rc-dyntabs-title {
    background-color: inherit;
}

.rc-dyntabs-tab.rc-dyntabs-selected>.rc-dyntabs-title {
    background-color: red;
}

.rc-dyntabs-title,
.rc-dyntabs-close {
    color: white;
}

.rc-dyntabs-tab.rc-dyntabs-hover {
    background-color: #532727;
}