.rc-dyn-tabs-tablist-view.rc-dyn-tabs-rtl {
  flex-direction: row-reverse;
}
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-rtl > .rc-dyn-tabs-tablist-container {
  flex-direction: row-reverse;
}
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-rtl > .rc-dyn-tabs-tablist-container > .rc-dyn-tabs-tablist-overflow {
  flex-direction: row-reverse;
}

.rc-dyn-tabs-tablist.rc-dyn-tabs-rtl {
  flex-direction: row-reverse;
}
.rc-dyn-tabs-tablist.rc-dyn-tabs-rtl > .rc-dyn-tabs-tab > .rc-dyn-tabs-title {
  flex-direction: row;
}
.rc-dyn-tabs-tablist.rc-dyn-tabs-rtl > .rc-dyn-tabs-tab > .rc-dyn-tabs-close {
  left: 4px;
  right: auto;
}

.rc-dyn-tabs-panellist.rc-dyn-tabs-rtl {
  flex-direction: row-reverse;
}
