.rc-dyn-tabs-panellist {
  padding: 6px 12px;
  position: relative;
  flex: 1;
  display: flex;
  direction: ltr;
}
.rc-dyn-tabs-panellist .rc-dyn-tabs-panel {
  display: none;
  flex-basis: 100%;
  direction: ltr;
  text-align: left;
}
.rc-dyn-tabs-panellist .rc-dyn-tabs-panel.rc-dyn-tabs-selected {
  display: block;
}

.rc-dyn-tabs-tablist-view {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  direction: ltr;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-tablist-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-tablist-overflow {
  overflow: visible;
  display: flex;
  flex-wrap: nowrap;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-showmorebutton-container {
  min-width: 46.38px;
  min-height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-tablist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-tab {
  display: flex;
  padding: 0px;
  position: relative;
  pointer-events: visible;
  opacity: 1;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-tab.rc-dyn-tabs-disable {
  pointer-events: none;
  opacity: 0.7;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-icon {
  padding: 0em 0.4em;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-close {
  position: absolute;
  cursor: pointer;
  top: 50%;
  height: 10px;
  width: 10px;
  transform: translateY(-50%);
  right: 6px;
  left: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-title {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.5em 1em;
  font-weight: 500;
  outline: none;
  justify-content: center;
  flex-direction: row-reverse;
  flex: 1;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-showmorebutton {
  display: inline-flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  flex-basis: 100%;
  height: 100%;
  align-items: center;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-tab .rc-dyn-tabs-title.rc-dyn-tabs-showmorebutton {
  padding: 0px;
  min-width: 46.38px;
}
.rc-dyn-tabs-tablist-view .rc-dyn-tabs-popper {
  position: fixed;
  background: white;
  border: 1px solid lightgray;
  padding: 0px;
  z-index: 2;
  overflow-y: auto;
  height: auto;
  box-shadow: white 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical {
  flex-direction: column;
  float: left;
  flex: none;
  height: 100%;
}
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical .rc-dyn-tabs-tablist-container,
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical .rc-dyn-tabs-tablist-overflow,
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical .rc-dyn-tabs-tablist {
  flex-direction: column;
}
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical.rc-dyn-tabs-popper {
  height: auto;
}
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical.rc-dyn-tabs-rtl {
  flex-direction: column;
  float: right;
}
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical.rc-dyn-tabs-rtl .rc-dyn-tabs-tablist-container,
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical.rc-dyn-tabs-rtl .rc-dyn-tabs-tablist-overflow,
.rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical.rc-dyn-tabs-rtl .rc-dyn-tabs-tablist {
  flex-direction: column;
}
