.rc-dyn-tabs-panel {
    display: none;
}

.rc-dyn-tabs-rtl .rc-dyn-tabs-panel {
    direction : rtl;
    text-align: right;
}

.rc-dyn-tabs-ltr .rc-dyn-tabs-panel {
    direction : ltr;
    text-align: left;
}

.rc-dyn-tabs-panel.rc-dyn-tabs-selected {
    display: block;
}


.rc-dyn-tabs-tablist {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
    overflow       : hidden;
}



.rc-dyn-tabs-ltr .rc-dyn-tabs-tab {
    float: left;
}

.rc-dyn-tabs-rtl .rc-dyn-tabs-tab {
    float: right;
}

.rc-dyn-tabs-tab {
    display        : list-item;
    list-style     : none;
    text-align     : center;
    padding        : 0px;
    text-decoration: none;
    position       : relative;
    pointer-events : visible;
    opacity        : 1;
}

.rc-dyn-tabs-tab.rc-dyn-tabs-disable {
    pointer-events: none;
    opacity       : 0.7;
}

.rc-dyn-tabs-close {
    position   : absolute;
    top        : 0px;
    cursor     : pointer;
    line-height: 10px;
}

.rc-dyn-tabs-ltr .rc-dyn-tabs-close {
    right: 0px;
    left : auto;
}

.rc-dyn-tabs-rtl .rc-dyn-tabs-close {
    left : 0px;
    right: auto;
}

.rc-dyn-tabs-ltr .rc-dyn-tabs-tab>*:first-child {
    direction: rtl;
}

.rc-dyn-tabs-rtl .rc-dyn-tabs-tab>*:first-child {
    direction: ltr;
}

.rc-dyn-tabs-tab>*:first-child {
    position   : relative;
    display    : flex;
    align-items: center;
}

.rc-dyn-tabs-title {
    text-decoration: none;
    cursor         : pointer;
    white-space    : nowrap;
    display        : inline-block;
    position       : relative;
    padding        : .5em 1em;
}

.rc-dyn-tabs-icon {
    display: inline-block;
}