.reactHookTab-default-panel {
    display: none;
}

.rtl .reactHookTab-default-panel {
    direction : rtl;
    text-align: right;
}

.ltr .reactHookTab-default-panel {
    direction : ltr;
    text-align: left;
}

.reactHookTab-active-panel {
    display: block;
}