.rc-dyntabs-panel {
    display: none;
}

.rc-dyntabs-rtl .rc-dyntabs-panel {
    direction : rtl;
    text-align: right;
}

.rc-dyntabs-ltr .rc-dyntabs-panel {
    direction : ltr;
    text-align: left;
}

.rc-dyntabs-panel.rc-dyntabs-selected {
    display: block;
}