.rdlt-default-tab {
    float          : left;
    display        : block;
    color          : white;
    text-align     : center;
    padding        : 16px;
    text-decoration: none;
    cursor         : pointer;
    position       : relative;
}

.rdlt-hover-tab {
    background-color: #111111;
}

.rdlt-active-tab {
    background: red;
}

.rdlt-default-closeIcon {
    position: absolute;
    left    : 0px;
    top     : 0px;
}