.ltr .reactHookTab-default-tab {
    float: left;
}

.rtl .reactHookTab-default-tab {
    float: right;
}

.reactHookTab-default-tab {
    display        : list-item;
    list-style     : none;
    text-align     : center;
    padding        : 0px;
    text-decoration: none;
    position       : relative;
    pointer-events : visible;
    opacity        : 1;
}

.reactHookTab-hover-tab {
    background-color: #111111;
}

.reactHookTab-default-tab.disable {
    pointer-events: none;
    opacity       : 0.7;
}

.reactHookTab-active-tab {
    background: red;
}

.reactHookTab-default-closeIcon {
    position: absolute;
    top     : 0px;
    color   : white;
    cursor  : pointer;
}

.ltr .reactHookTab-default-closeIcon {
    right: 0px;
    left : auto;
}

.rtl .reactHookTab-default-closeIcon {
    left : 0px;
    right: auto;
}

.ltr .reactHookTab-default-tab>span.tabTitle {
    float    : right;
    direction: rtl;
}

.rtl .reactHookTab-default-tab>span.tabTitle {
    float    : left;
    direction: ltr;
}

.reactHookTab-default-tab>span.tabTitle {
    padding        : .5em 1em;
    position       : relative;
    list-style     : none;
    color          : white;
    text-decoration: none;
    cursor         : pointer;
    white-space    : nowrap;
    display        : flex;
    align-items    : center;
}