.rdlt-default-tab {
    float          : left;
    display        : list-item;
    list-style     : none;
    text-align     : center;
    padding        : 0px;
    text-decoration: none;
    position       : relative;
    pointer-events : visible;
    opacity        : 1;
}

.rdlt-hover-tab {
    background-color: #111111;
}

.rdlt-default-tab.disable {
    pointer-events: none;
    opacity       : 0.7;
}

.rdlt-active-tab {
    background: red;
}

.rdlt-default-closeIcon {
    position: absolute;
    left    : 0px;
    top     : 0px;
    color   : white;
    cursor  : pointer;
}

.rdlt-default-tab>span.tabTitle {
    float          : right;
    padding        : .5em 1em;
    position       : relative;
    list-style     : none;
    color          : white;
    text-decoration: none;
    cursor         : pointer;
    white-space    : nowrap;
}