.rc-dyntabs-ltr .rc-dyntabs-tab {
    float: left;
}

.rc-dyntabs-rtl .rc-dyntabs-tab {
    float: right;
}

.rc-dyntabs-tab {
    display        : list-item;
    list-style     : none;
    text-align     : center;
    padding        : 0px;
    text-decoration: none;
    position       : relative;
    pointer-events : visible;
    opacity        : 1;
}

.rc-dyntabs-tab.rc-dyntabs-disable {
    pointer-events: none;
    opacity       : 0.7;
}

.rc-dyntabs-close {
    position   : absolute;
    top        : 0px;
    cursor     : pointer;
    line-height: 10px;
}

.rc-dyntabs-ltr .rc-dyntabs-close {
    right: 0px;
    left : auto;
}

.rc-dyntabs-rtl .rc-dyntabs-close {
    left : 0px;
    right: auto;
}

.rc-dyntabs-ltr .rc-dyntabs-tab>*:first-child {
    float    : right;
    direction: rtl;
}

.rc-dyntabs-rtl .rc-dyntabs-tab>*:first-child {
    float    : left;
    direction: ltr;
}

.rc-dyntabs-tab>*:first-child {
    position   : relative;
    display    : flex;
    align-items: center;
}

.rc-dyntabs-title {
    text-decoration: none;
    cursor         : pointer;
    white-space    : nowrap;
    display        : inline-block;
    position       : relative;
    padding        : .5em 1em;
}

.rc-dyntabs-icon {
    display: inline-block;
}