$tablist-background-color: #f1f1f1;
$tablist-border-color: #ccc;
$tab-hover-background-color: #ddd;
$actived-tab-background-color: #ddd;
$selected-tab-background-color: #ccc;
$title-color: gray;
$selected-tab-color: black;
@mixin main {
  .rc-dyn-tabs-tablist-view {
    border: 1px solid $tablist-border-color;
    background-color: $tablist-background-color;

    .rc-dyn-tabs-title {
      background-color: inherit;
      border: none;
      padding: 0.8em 1.5em;
      min-width: 160px;
      min-height: 40px;
      color: $title-color;
    }
    .rc-dyn-tabs-tab {
      color: $title-color;
      &:hover {
        & > .rc-dyn-tabs-title {
          background-color: $tab-hover-background-color;
        }
        & > .rc-dyn-tabs-title:active {
          background-color: $actived-tab-background-color;
        }
      }
    }
    .rc-dyn-tabs-selected {
      color: $selected-tab-color;
      .rc-dyn-tabs-title {
        background-color: $selected-tab-background-color;
        color: $selected-tab-color;
      }
    }
  }
  .rc-dyn-tabs-tablist-view.rc-dyn-tabs-rtl {
    .rc-dyn-tabs-close {
      left: 10px;
    }
  }
}
