body {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  background-color: lavender;
  overflow-y: scroll;
  overflow-x: hidden;
}

select,
button,
input {
  outline: none;
}

#root {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#header {
  position: relative;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header a {
  text-decoration: none;
  z-index: 2;
}

#header h1 {
  text-align: center;
  color: #ab0000;
  margin: 0px;
}

#actions > div {
  margin-right: 150px;
}

@media only screen and (max-width: 580px) {
  #header {
    display: table;
    margin: auto;
  }
}
