@mixin main {
  .rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical {
    flex-direction: column;
    flex: none;
    & > .rc-dyn-tabs-tablist-container {
      flex-direction: column;
      & > .rc-dyn-tabs-tablist-overflow {
        flex-direction: column;
      }
    }
  }
  .rc-dyn-tabs-tablist.rc-dyn-tabs-vertical {
    flex-direction: column;
    float: left;
    & > .rc-dyn-tabs-tab {
      float: none;
      & > .rc-dyn-tabs-title {
        display: block;
        width: 100%;
      }

      & > .rc-dyn-tabs-close {
        top: 50%;
        transform: translateY(-50%);
        line-height: 0px;
      }
    }
  }
  .rc-dyn-tabs-panellist {
    flex: 1;
  }
}
