@mixin main {
  .rc-dyn-tabs-tablist-view.rc-dyn-tabs-vertical {
    flex-direction: column;
    flex: none;
    & > .rc-dyn-tabs-tablist-container {
      flex-direction: column;
      & > .rc-dyn-tabs-tablist-overflow {
        flex-direction: column;
      }
    }
  }
  .rc-dyn-tabs-tablist.rc-dyn-tabs-vertical {
    flex-direction: column;
  }
}
