@mixin main {
  .rc-dyn-tabs-panellist {
    padding: 6px 12px;
    position: relative;
    .rc-dyn-tabs-panel {
      display: none;
      direction: ltr;
      text-align: left;
    }
    &.rc-dyn-tabs-rtl {
      .rc-dyn-tabs-panel {
        direction: rtl;
        text-align: right;
      }
    }
    .rc-dyn-tabs-panel.rc-dyn-tabs-selected {
      display: block;
    }
  }
  .rc-dyn-tabs-panellist.rc-dyn-tabs-vertical {
    float: left;
    &.rc-dyn-tabs-rtl {
      float: right;
    }
  }

  .rc-dyn-tabs-tablist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    flex-wrap: nowrap;
    direction: ltr;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;

    & > .rc-dyn-tabs-tab {
      display: list-item;
      list-style: none;
      text-align: center;
      padding: 0px;
      text-decoration: none;
      position: relative;
      pointer-events: visible;
      opacity: 1;
      &.rc-dyn-tabs-disable {
        pointer-events: none;
        opacity: 0.7;
      }
      &.rc-dyn-tabs-hidden {
        display: none;
      }
      & > .rc-dyn-tabs-title {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap;
        padding: 0.5em 1em;
        font-weight: 500;
        outline: none;
        justify-content: center;
        direction: rtl;

        & > .rc-dyn-tabs-icon {
          display: inline-block;
          padding-right: 0.4em;
        }
      }

      & > .rc-dyn-tabs-close {
        position: absolute;
        top: 1px;
        cursor: pointer;
        right: 4px;
        left: auto;
      }
    }
  }
  .rc-dyn-tabs-tablist.rc-dyn-tabs-rtl {
    flex-direction: row-reverse;
    & > .rc-dyn-tabs-tab {
      & > .rc-dyn-tabs-title {
        direction: ltr;

        & > .rc-dyn-tabs-icon {
          padding-left: 0.4em;
        }
      }

      & > .rc-dyn-tabs-close {
        left: 4px;
        right: auto;
      }
    }
  }
  .rc-dyn-tabs-tablist.rc-dyn-tabs-vertical {
    width: 12em;
    height: 100%;
    flex-direction: column;
    & > .rc-dyn-tabs-tab {
      & > .rc-dyn-tabs-title {
        display: block;
        width: 100%;
      }
      & > .rc-dyn-tabs-close {
        top: 50%;
        transform: translateY(-50%);
        line-height: 0px;
      }
    }
  }
  .rc-dyn-tabs-tablist-root,
  .rc-dyn-tabs-tablist-sec,
  .rc-dyn-tabs-tablist-slider {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    overflow: hidden;
    position: relative;
  }
  .rc-dyn-tabs-tablist-root.rc-dyn-tabs-vertical {
    flex-grow: 0;
    height: 100%;
    float: left;
    &,
    & > .rc-dyn-tabs-tablist-sec {
      flex-direction: column;
      height: 100%;
      & > .rc-dyn-tabs-tablist-slider {
        flex-direction: column;
        height: 100%;
        & > .rc-dyn-tabs-tablist {
          height: auto;
        }
      }
    }
    &.rc-dyn-tabs-rtl {
      float: right;
    }
  }
}
