@mixin main {
  .rc-dyn-tabs-panellist {
    padding: 6px 12px;
    position: relative;
    flex: 1;
    display: flex;
    direction: ltr;
    .rc-dyn-tabs-panel {
      display: none;
      flex-basis: 100%;
    }
    .rc-dyn-tabs-panel.rc-dyn-tabs-selected {
      display: block;
    }
  }
  .rc-dyn-tabs-panellist.rc-dyn-tabs-ltr {
    .rc-dyn-tabs-panel {
      direction: ltr;
      text-align: left;
    }
  }

  .rc-dyn-tabs-tablist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;

    & > .rc-dyn-tabs-tab {
      display: flex;
      padding: 0px;
      position: relative;
      pointer-events: visible;
      opacity: 1;

      & > .rc-dyn-tabs-title {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap;
        padding: 0.5em 1em;
        font-weight: 500;
        outline: none;
        justify-content: center;
        flex-direction: row-reverse;
        & > .rc-dyn-tabs-icon {
          padding: 0em 0.4em;
        }
      }

      & > .rc-dyn-tabs-close {
        position: absolute;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        line-height: 0px;
        right: 4px;
        left: auto;
      }
    }

    & > .rc-dyn-tabs-tab.rc-dyn-tabs-disable {
      pointer-events: none;
      opacity: 0.7;
    }
  }
  .rc-dyn-tabs-tablist-view {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    overflow: hidden;
    direction: ltr;
  }
  .rc-dyn-tabs-tablist-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .rc-dyn-tabs-tablist-overflow {
    overflow: visible;
    display: flex;
    flex-wrap: nowrap;
  }
  .rc-dyn-tabs-showmorebutton-container {
    min-width: 46.38px;
    min-height: 16px;
    margin: 0px 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  .rc-dyn-tabs-showmorebutton {
    cursor: pointer;
  }
  .rc-dyn-tabs-popper {
    position: fixed;
    background: white;
    border: 1px solid lightgray;
    padding: 0px;
    z-index: 2;
    overflow: auto;
  }
}
