@mixin main {
  .rc-dyn-tabs-panellist {
    padding: 6px 12px;
    position: relative;
    flex: 1;
    display: flex;
    direction: ltr;
    font-family: inherit;
    .rc-dyn-tabs-panel {
      display: none;
      flex-basis: 100%;
      direction: ltr;
      text-align: left;
      &.rc-dyn-tabs-selected {
        display: block;
      }
    }
  }
  .rc-dyn-tabs-tablist-view {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    direction: ltr;
    &.rc-dyn-tabs-responsive {
      backface-visibility: hidden;
    }
    .rc-dyn-tabs-tablist-container {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }
    .rc-dyn-tabs-tablist-overflow {
      overflow: visible;
      display: flex;
      flex-wrap: nowrap;
    }
    .rc-dyn-tabs-showmorebutton-container {
      min-width: 46.38px;
      min-height: 16px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }
    .rc-dyn-tabs-tablist {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      position: relative;
    }
    .rc-dyn-tabs-tab {
      display: flex;
      padding: 0px;
      position: relative;
      pointer-events: visible;
      opacity: 1;
      font-size: 1rem;
      font-family: inherit;
      order: unset;
      &.rc-dyn-tabs-disable {
        pointer-events: none;
        opacity: 0.7;
      }
    }
    .rc-dyn-tabs-icon {
      padding: 0em 0.4em;
    }
    .rc-dyn-tabs-close {
      position: absolute;
      cursor: pointer;
      top: 50%;
      height: auto;
      width: 0.4em;
      transform: translateY(-50%);
      right: 0.4em;
      left: auto;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: inherit;
      line-height: 1;
    }
    .rc-dyn-tabs-title {
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      padding: 0.6em 1.2em;
      font-weight: 500;
      outline: none;
      justify-content: center;
      flex-direction: row-reverse;
      flex: 1;
      font-size: inherit;
      text-transform: uppercase;
      font-family: inherit;
    }
    .rc-dyn-tabs-showmorebutton {
      display: inline-flex;
      flex: 1;
      justify-content: center;
      width: 100%;
      padding: 0px;
      margin: 0px;
      flex-basis: 100%;
      height: 100%;
      align-items: center;
    }
    .rc-dyn-tabs-tab {
      .rc-dyn-tabs-title.rc-dyn-tabs-showmorebutton {
        padding: 0px;
        min-width: 46.38px;
      }
    }
    .rc-dyn-tabs-popper {
      position: fixed;
      background: white;
      border: 1px solid lightgray;
      padding: 0px;
      z-index: 2;
      overflow-y: auto;
      height: auto;
      box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
  }
}
